USE [imdb]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 09/04/2024 07:31:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[director_id] [tinyint] NOT NULL,
	[Director] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[director_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 09/04/2024 07:31:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[genre_id] [tinyint] NOT NULL,
	[Genre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 09/04/2024 07:31:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[movie_id] [tinyint] NOT NULL,
	[genre_id] [tinyint] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 09/04/2024 07:31:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[movie_id] [tinyint] NOT NULL,
	[Poster_Link] [nvarchar](200) NOT NULL,
	[Series_Title] [nvarchar](100) NOT NULL,
	[Released_Year] [smallint] NOT NULL,
	[Certificate] [nvarchar](50) NULL,
	[Runtime] [nvarchar](50) NOT NULL,
	[Metascore] [tinyint] NULL,
	[No_of_Votes] [int] NOT NULL,
	[Gross] [int] NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stars]    Script Date: 09/04/2024 07:31:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stars](
	[stars_id] [tinyint] NOT NULL,
	[StarName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_stars] PRIMARY KEY CLUSTERED 
(
	[stars_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Directors] ([director_id], [Director]) VALUES (1, N'Frank Darabont')
INSERT [dbo].[Directors] ([director_id], [Director]) VALUES (2, N'Francis Ford Coppola')
INSERT [dbo].[Directors] ([director_id], [Director]) VALUES (3, N'Christopher Nolan')
GO
INSERT [dbo].[Genres] ([genre_id], [Genre]) VALUES (1, N'Drama')
INSERT [dbo].[Genres] ([genre_id], [Genre]) VALUES (2, N'Crime, Drama')
INSERT [dbo].[Genres] ([genre_id], [Genre]) VALUES (3, N'Action, Crime, Drama')
GO
INSERT [dbo].[MovieGenre] ([movie_id], [genre_id]) VALUES (1, 1)
INSERT [dbo].[MovieGenre] ([movie_id], [genre_id]) VALUES (2, 2)
INSERT [dbo].[MovieGenre] ([movie_id], [genre_id]) VALUES (3, 3)
GO
INSERT [dbo].[Movies] ([movie_id], [Poster_Link], [Series_Title], [Released_Year], [Certificate], [Runtime], [Metascore], [No_of_Votes], [Gross]) VALUES (1, N'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg', N'The Shawshank Redemption', 1994, N'A', N'142 min', 80, 2343110, 28341469)
INSERT [dbo].[Movies] ([movie_id], [Poster_Link], [Series_Title], [Released_Year], [Certificate], [Runtime], [Metascore], [No_of_Votes], [Gross]) VALUES (2, N'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg', N'The Godfather', 1972, N'A', N'175 min', 100, 1620367, 134966411)
INSERT [dbo].[Movies] ([movie_id], [Poster_Link], [Series_Title], [Released_Year], [Certificate], [Runtime], [Metascore], [No_of_Votes], [Gross]) VALUES (3, N'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg', N'The Dark Knight', 2008, N'UA', N'152 min', 84, 2303232, 534858444)
GO
INSERT [dbo].[stars] ([stars_id], [StarName]) VALUES (1, N'Tim Robbins')
INSERT [dbo].[stars] ([stars_id], [StarName]) VALUES (2, N'Marlon Brando')
INSERT [dbo].[stars] ([stars_id], [StarName]) VALUES (3, N'Christian Bale')
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Genres] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([genre_id])
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Genres]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Movies]
GO
